<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- URL Rewrite: HTTP Yönlendirmesi -->
    <rewrite>
      <rules>
        <!-- HTTP'yi www ile Başlayan URL'ye Yönlendir -->
        <rule name="Redirect all requests to www.lotopiyangoonline.com" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^lotopiyangoonline.com$" />
          </conditions>
          <action type="Redirect" url="http://www.lotopiyangoonline.com/{R:1}" redirectType="Permanent" />
        </rule>

        <!-- React SPA Yönlendirme Kuralı -->
        <rule name="React SPA Rewrite" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
